.AccountManage{
    background-color: var(--bg_gray);
    width: 86.2vw;
    height: 89.9vh;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.MuiFormControl-root {
    margin: 1.75em auto;
}
.MuiFormControl-root input {
    font-weight: 550;
}
.MuiInputBase-root {
    background-color: white;
}

.ModifyOfficerInfo {
    width: 15vw;
    height: 2em;
    margin: auto;
}