.LoginPage {
    margin-top: -1em;
    width: 100vw;
    height: 80vh;
    padding-top: 20vh;
    background-color: var(--bg_gray);
}

.AppName {
    width: fit-content;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.AppName img {
    width: 3em;
}
.AppName div {
    font-size: 2em;
    font-weight: 700;
}

form {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
}

.InputContainer {
    margin: auto;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 50vw;
    height: 3em;
    border-color: aliceblue;
    border-radius: 8px;
    border-width: 2px;
    border-style: solid;
    padding: 0.5rem 2rem 0.5rem 0.5rem
}

.InputContainer label {
    font-weight: 500;
}

.InputContainer input {
    height: 5em;
    border-style: none;
    outline: none;
}

.LoginButton {
    margin: auto;
    margin-top: 1em;
    text-align: center;
}