.VehicleManage{
    background-color: var(--bg_gray);
    width: 86.2vw;
    height: 87vh;
    overflow-y: auto;
}
.VehicleManage1 {
    background-color: white;
    width: 60vw;
    height: 86vh;
    margin-left: 2%;
    margin-top:2%;
    border-color: var(--border_gray);
    border-radius: 5px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    
}
.VehicleManage2 {
    background-color: white;
    width: 60vw;
    height: 60vh;
    margin-left: 2%;
    margin-top:2%;
    border-color: var(--border_gray);
    border-radius: 5px;
    border-style: solid;
    display: flex;
    flex-direction: column;

}
.header{
    padding: 0.5em 0.5em;
    font-size:20px;
    color:black;
    font-weight: bold;
}
.VehicleManage button {
    background-color: white;
    border-style: none;
    color: black;
}
.Detailinformationphuongtien { 
    visibility: visible;
    background-color: white;
    position: absolute;
    
    margin-top: 1.3%;
    width: 20vw;
    height: 45vh;
    border-color: var(--border_gray);
    border-radius: 5px;
    border-style: solid;
    display: flex;
    flex-direction: column;
}
.Detailinformationphuongtien div:first-child {
    margin-left: 2%;
    padding: 0.5em 0.5em;
    font-weight: 650;
    font-size: 30px;
}
.Detailinformationphuongtien div:nth-child(3) {
    margin-left: 7%;
    padding: 0.7em 0.5em;
    font-weight: 650;
    font-size: 20px;
    line-height: 1.5;
}
.Detailinformationphuongtien div:nth-child(4) {
    margin-left: 7%;
    padding: 0.7em 0.5em;
    font-weight: 650;
    font-size: 20px;
    line-height: 1.5;
}
  