.UpperBar {
    width: 86.2vw;
    height: 10vh;
    background-color: white;
    display: flex;
    border-width: 1px;
    border-color: var(--border_gray);
    border-bottom-style: solid;
    padding-bottom: 16px;
}